div,span,body,html {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

body {
  font-family: Helvetica, sans;
  font-size: 14px;
}

#header {
  padding: 20px;
  display: block;
  border-bottom: 1px solid black;
}

#header h1 {
  margin: 0;
  padding: 0;
}

#header .control {
  float: right;
  margin: 0;
  padding: 0;
}

#content {
  padding: 30px;
}

#footer {
  padding: 10px 5px 10px 5px;
  display: block;
  border-top: 1px solid black;
  font-size: 80%;
}

.error {
  color: red;
}

