{% extends "base.html" %}
{% block content %}

{% if fav_set %}
<p>You have an <a href="http://www.flickr.com/photos/{{user.nsid}}/sets/{{fav_set.id}}">existing set, "{{ fav_set.title }}"</a>, that I'll update with the following photos:</p>
{% else %}
<p>I'll create a photoset called "Your Favourites" with the following photos:</p>
{% endif %}

<div id="photos">
{% for photo in popular %}
  <img style="float: left; width: 75; height: 75; margin: 2px; padding: 0;" src="http://farm{{photo.farm}}.static.flickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg" title="{% if photo.title %}{{photo.title}}, {% endif %}{{photo.stats.favorites}} favourites">
  {% if forloop.counter|divisibleby:"9" %}
    <br clear="all">
  {% endif %}
{% endfor %}
<br clear="all">
</div>

<br clear="all">

<form method="post" action="/">

{% if photosets %}
    <p>Prefer me to use a different photoset as your Favourites set?</p>
    <p><select name="photoset" id="photoset">
        <option value="new" {% if not fav_set %}selected{% endif %}>Create "Your Favourites" set</option>
        {% for set in photosets %}
            <option value="{{set.id}}" {% if set.id == fav_set.id %}selected{% endif %}>{{set.title}}</option>
        {% endfor %}
    </select></p>
{% endif %}

<input type="submit" value="Create / update set" name="doit">
</form>

{% endblock %}
